---
BasedOnStyle: LLVM
Language: Cpp
Standard: c++20
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 110
AccessModifierOffset: -4
NamespaceIndentation: None
PointerAlignment: Left
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BreakBeforeBraces: Attach
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^"'
    Priority: 1
  - Regex: '^<cadence/'
    Priority: 2
  - Regex: '^<catch2/'
    Priority: 3
  - Regex: '^<Q'
    Priority: 4
  - Regex: '.*'
    Priority: 5
SortIncludes: CaseSensitive
